<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>注册趣阅账号</title>
		<link href="__STATIC__/css/logon.css" type="text/css" rel="stylesheet"/>
	</head>
	<body>
		<div class="all">
			<div class="form">
				<form action="" method="post" name="logon">
					<table class="table">
						<tr><td colspan="2"><h2>欢迎注册趣阅号</h2></td></tr>	
						<tr>
							<td class="td_fill"><input class="fill" type="text" id="username" name="username" placeholder="邮箱或手机号"></td>
						</tr>
						<tr>
							<td class="td_fill"><input class="fill" type="password" id="password" name="password"  placeholder="密码"></td>
						</tr>
						<tr>
							<td class="xieyi"><input class="checkbox" type="checkbox" name="" id="" value="" checked="checked" />同意<a href="#">《用户协议》</a><a href="#">《服务声明》</a></td>
						</tr>
						<tr>
							<td><input class="button_login" type="submit" value="注册"/></td>
						</tr>
						<tr>
							<td><a href="login">登录趣阅书屋</a><a class="a_txt" href="#">无法注册?联系我们</a></td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</body>
</html>
